# MariaDB Settings
MARIADB_DATABASE=fahares_db
MARIADB_USER=fahares_user
MARIADB_PASSWORD=change_this_password
MARIADB_ROOT_PASSWORD=change_this_root_password

# Meilisearch Settings
MEILI_MASTER_KEY=change_this_master_key
MEILI_ENV=development
